################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/packages
/TimeStamp.Tests/bin/Debug
/TimeStamp.Tests/obj/Debug
/TimeStamp/bin/Debug
/TimeStamp/obj/x86
/TimeStamp/bin/Release
/TimeStamp.Tests/bin/Release
/TimeStamp.Tests/obj/Release
/TimeStamp.Setup/Release
/TimeStamp/obj
